$root: '.Logo';

#{$root} {
  &-icon {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    background-color: #4452ce;
  }
  &.inline {
    cursor: pointer;
    .Logo-icon {
      margin-right: 16px;
    }
    .Logo-text {
      margin-bottom: 0;
      span {
        font-size: 32px;
      }
    }
  }
  &-text {
    margin-bottom: 24px;
    span {
      font-size: 40px;
      font-weight: bold;
      &:first-child {
        color: #4452ce;
      }
    }
  }
}
