$root: ".SearchBar";

#{$root} {
  border: 1px solid #e7e7e7;
  border-right: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  position: relative;
  margin-bottom: 40px;
  .SelectInput {
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
    &::after {
      content: " ";
      background-color: #e7e7e7;
      width: 1px;
      height: 40px;
      display: inline-block;
      margin-top: 12px;
    }
  }
  .Button {
    font-size: 20px;
    font-weight: 500;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    &.Mui-disabled {
      opacity: 0.75;
      color: #fff;
    }
  }
}

@media only screen and (max-width: 768px) {
  #{$root} {
    border: none;
    border-right: none;
    padding: 0;
    position: initial;
    margin-left: initial;
    flex-direction: column;
    .SelectInput {
      margin-left: 0;
      margin-bottom: 8px;
      &::after {
        display: none;
      }
    }
    .Button {
      font-size: 16px;
      border-radius: 8px;
      position: initial;
      height: 48px;
      top: initial;
      right: initial;
      justify-content: center;
    }
  }
}

.SelectInput {
  padding: 4px 16px;
  label {
    white-space: nowrap;
  }
}
