$root: '.SearchBar';

#{$root} {
  border: 1px solid #e7e7e7;
  border-right: none;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  padding: 4px 0 0 16px;
  position: relative;
  margin-bottom: 40px;
  .SelectInput {
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
    &::after {
      content: ' ';
      background-color: #e7e7e7;
      width: 1px;
      height: 40px;
      display: inline-block;
      margin-top: 12px;
    }
  }
  .Button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: absolute;
    height: calc(100% + 2px);
    top: -1px;
    right: -145px;
    box-shadow: none;
  }
}
