$root: ".footer";

#{$root} {
    background: linear-gradient(97.93deg, #4452CE 43.88%, #6744CC 109.61%);
    width: 100%;
    flex-direction: row;
    &__container {
      max-width: 868px;
      padding: 60px 0;
      flex: 1;
      &-superhero {
        flex: 1;
        flex-direction: column;
        &-photoContainer {
          margin-bottom: 10px;
        }
        &-textContainer {
          padding-right: 80px;
        }
        &-title {
          font-family: Roboto;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 147.5%;
          letter-spacing: 0.005em;
          color: #FFFFFF;
          margin: 0;
        }
        &-description {
          &-item {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: rgba(255, 255, 255, 0.6);
            margin-bottom: 20px;
          }
        }
      }
      &-links {
        flex-direction: column;
      }
    }
  }