$root: '.Dashboard';

#{$root} {
  &-top {
    .Logo {
      margin-bottom: 24px;
    }
    &__teamLabel {
      font-size: 24px;
      line-height: 36px;
      color: #a9a9a9;
      max-width: 570px;
      text-align: center;
      margin-bottom: 24px;
    }

    .HelpCount {
      margin-bottom: 56px;
    }

    .PopularCities {
      margin-bottom: 60px;
    }
  }
  &-bottom {
    &__categoryHeading {
      font-size: 30px;
      color: #4452ce;
      font-weight: bold;
      margin-bottom: 24px;
    }
    &__categories {
      max-width: 640px;
      .JumboButton {
        width: 292px;
        margin: 12px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #{$root} {
    &-top {
      .Logo {
        margin-bottom: 16px;
      }
      &__teamLabel {
        font-size: 16px;
        line-height: 24px;
        max-width: 272px;
        margin-bottom: 16px;
      }

      .HelpCount {
        margin-bottom: 34px;
      }

      .PopularCities {
        margin-bottom: 32px;
      }
    }
    &-bottom {
      &__categoryHeading {
        font-size: 20px;
        margin-bottom: 16px;
      }
      &__categories {
        max-width: 100%;
        .JumboButton {
          width: 298px;
          margin: 8px;
        }
      }
    }
  }
}
