$root: '.PopularCities';

#{$root} {
  &-title {
    color: #797979;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
}

@media only screen and (max-width: 768px) {
  #{$root} {
    padding: 0 16px;
    &-title {
      margin-bottom: 16px;
    }
    &-cities {
      flex-wrap: wrap;
      justify-content: center;
    }
    .TextButton {
      height: 24px;
      border-radius: 17px;
      background-color: #4452ce;
      margin: 6px 4px;
      & > * {
        margin: 0;
        font-size: 14px;
        color: #fff;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
      }
    }
  }
}
